<a href="https://colab.research.google.com/github/ncssm-mlclub/Lectures/blob/master/IntroductionToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What's Python?

- High-level, interpreted, scripting language that is fairly easy to learn and work with.
- It's design philosophy emphasizes code readability, notably using "significant whitespace" meaning that code blocks are delimited by indentation. It provides constructs that enable clear programming on both small and large scales.

# What's a Jupyter Notebook?

- Jupyter notebooks (or just "notebooks") are a key tool in a data scientist's toolbox.
- Using notebooks, you can run code in "cells" that let you see the outputs of your code immediately. 
- To run a cell, press *shift + enter*, or click the run button when you hover over the cell.

In [2]:
# Hello World! (This is a comment. Python won't run this line. You denote comments with a #)

print("Hello World!")

Hello World!

As you can see Python uses the `print()` function to print out outputs. You'll be using the print statement a lot, and it'll soon become muscle memory.

# 1.1 Statements

Python is an [imperative language](https://en.wikipedia.org/wiki/Imperative_programming), meaning that it uses **statements**. That is, programs in Python consists of **procedures** composed of **statements**. A statement can be a:

- single expression
- variable assignment (giving a value to a variable)
- function call
- function definition

## 1.1.1 Expressions

- Numbers
    - integers
        - Self-explanatory, these are the Integers: $ \mathbb{Z} $
    - floating-point
        - All Real Numbers
    - complex numbers
- strings
    - You represent strings using either single quotes (`'hi'`) or double quotes (`"hi"`).
    - Most other programming languages use double quotes, but Python prefers single quotes.
- boolean values
    - `True` or `False`
    - Can also be represented as 0 or 1

### 1.1.1 Numbers

Python has three types of numbers: integers, floating-point numbers (floats), and complex numbers

In [3]:
# This is an integer
1

2.1

In [3]:
# This is a float
2.1

2.1

You can convert between integers and floats; converting a variable value from one type to another is called **casting**. What do you think happens when you convert a float (which has numbers after the decimal) to an integer?

In [5]:
int(2.1)

2

What do you think happens when you convert an integer to a float?

In [7]:
float(2)

2.0

### 1.1.2 Strings

In [8]:
"hello"

'hello'

In [9]:
'hi'

'hi'

In [10]:
#Both of the above are strings, you'll see that people use both double quotes and single quotes. It doesn't really matter, just pick the one that appeals to you :).

You'll notice that both of the strings when outputted used single quotes. This is because Python prefers single quotes, but it doesn't matter.

### 1.1.1.3 Boolean Values

In [11]:
True

True

In [12]:
False

False

### 1.1.1.3.1 Conversions

You can convert from strings to integers and floats as well.

In [16]:
str(2)

'2'

In [17]:
str(3.4)

'3.4'

In [18]:
str(True)

'True'

### 1.1.1.4 Lists and Dicts

Python has a few useful data structures built in. Data Structures are objects that have special ways of representing data.

The three most useful Python data structures for a data scientist are:

- Dictionaries: {}. Dictionaries map "keys" to "values"
- Lists: [ ]. As the name suggests, lists are lists of values. You can put anything inside a list, even other lists! The things inside lists don't need to be of the same type, so you can have integers and strings in the same list. Lists are mutable which means they can be changed.
- Tuples: (item, ...). A Tuple is a read-only data structure, which means you can't change it. (Immutable)

In [13]:
[1, 2, 3]

[1, 2, 3]

In [14]:
[1, 2, "hi"]

[1, 2, 'hi']

In [15]:
[1, 2.0, "hi", [True, False, "bye"]]

[1, 2.0, 'hi', [True, False, 'bye']]

All of the above are lists! Lists can contain whatever you want and you'll often take advantage of this feature.

In [19]:
{"the": 1, "dog": 1, "is" : 1, "very" : 2, "good":1}

{'dog': 1, 'good': 1, 'is': 1, 'the': 1, 'very': 2}

The above is a dictionary that contains the words in a sentence and the number of times they appear. You'll often use dictionaries to keep track of the number of times certain values appear in a dataset. In this case the sentence was: "The dog is very very good."

## 1.1.2 Function Calls

Functions in programming are similar to functions in mathematics.

$f(x) = y$ might be what you're used to in math, and it is basically the same in Python. 

Functions in programming take in some input and spit out some output. They don't need an input and will sometimes not give an output, but the principle is the same.

There are two ways to call functions in Python:
- By pre-defined infix operator name.
    - Your basic arithmetic falls under this category
        - `+`, `-`, `*`, `/`, `//`
        - You might be wondering what the difference between `/` and `//` is. Well a single `/` means that float division is going on, so the division operation will return a float.
        - For example `3/2` = 1.5 and `3/3` = 1.0. 
        - `//` means integer division, so it'll round down to an integer. 
        - `4//3` becomes 1.
        - To exponentiate you use two asteriks so for example `3**2` returns 9.
        - The `^` operator is reserved for another operation: bitwise XOR, but you don't need to know about that yet.
        - Another arithmetic operator is the `%` (pronounced mod, formal name: modulus).
        - What `%` does is return the remainder of the division between two numbers. `a % b` returns the remainder when a is divided by b.
    - Other keywords like `and`, `or`, and `in` fall in this category. We'll tallk about them later.
- By function name, followed by parentheses. 
    - `print()` is a function!

Important Python Functions

In [20]:
abs(-1) #Returns the absolute value of the input

1

In [21]:
len([1,2,3]) #Returns the length of a list

3

In [22]:
len("hello") #Also returns the length of a string

5

In [23]:
sum([1,2,3]) #Returns the sum of a list

6

In [24]:
sorted([3,4,2]) #returns the sorted version of any sort of iterable (lists, tuples, dictionaries)

[2, 3, 4]

## 1.1.3 Special Values

In [26]:
None #None Type, returns None

## 1.1.4 Variables and Looping!

When you're dealing with data, you probably want to store it in some form. That's where variables come in.

Oftentimes, you'll have large sets of data that you store in some sort of iterable object like a list. To be able to efficiently go through this data, you'll need to know how to iterate, or loop, through it.

### 1.1.4.1 Variables

Variable names cannot start with a number, but other than that you can basically name a variable whatever you want unless its a reserved keyword in Python.

In [27]:
listy = [1, 2, 3]

In [28]:
x = 2

In [29]:
y = 4

In [30]:
m = 2

In [31]:
b = 0

You should notice that when you're declaring variables, the values aren't automatically printed out. To output the values, you can either just type the name of a variable in a cell and run it and have it be the last line in a cell, or you can use the `print()` function.

In [32]:
b

0

In [33]:
print(x)

2

In [34]:
a = 1
a

1

### 1.1.4.2 Loops!

The following section will discuss for and while loops. They're great for looping through data!

In [35]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

The above is a `for enum in range` loop. As you might have guessed the `range()` function when given a single number will go from 0 up to that number, exclusive. For more information about the range function, I suggest you look at the Python documentation.

In [36]:
for thingy in listy:
    print(thingy)

1
2
3

The above is a loop that goes through every item in the `listy` list and then prints it out. You can do any number of things when you're iterating through the list, including editing the values and applying the same operation to each of them.

Another type of the loop is the while loop. It follows the basic format of
```python3
while(statement):
    code block
```
While the statement is true, the code block will keep runnning.

In [37]:
x = 10
while(x > 0):
    print(x)
    x -= 1

10
9
8
7
6
5
4
3
2
1

In the above cell, we create a variable `x` and then a while loop that will print out x, and subtract 1 from x as long as x is greater than 0. One might use a loop like this to remove items from a list until only a certain number of items remain.

## 1.1.5 Conditional Statements

This section will cover if, else, and elif statements which are essential in any programming language.

In [38]:
if 1 in listy:
    print(0)

0

In [39]:
if 10 in listy:
    print("10 is in listy")
else:
    print("10 is not in listy")

10 is not in listy

In [40]:
if 1+1==2:
    print("1+1 equals 2")
else:
    print("1+1 does not equal 2")

1+1 equals 2

In [42]:
choice = input()
if int(choice) == 1:
    print("You Win")
elif int(choice) == 2:
    print("You exist")
else:
    print("You Lose")

2
You Win

Let's take a look at the above code cells. The first one checks to see if the 1 is in the list listy (which it is), and if it is, it prints out 0.

The second code cell checks to see if 10 is in listy, and if it is print out 10 is in listy otherwise it prints out 10 is not in listy.

The fourth cell uses the input() function to take in the user's input and if it is 1 they win. if it is 2 they exist, and otherwise they lose.

The difference between an if and elif statement is that an elif statement is only checked if the if statement's condition is false. 

An else statement's code block is only executed if every other conditional is false.

## 1.1.6 Writing your own Functions

Sometimes, you need to write your own functions to do cool things. Thankfully, Python makes that easy!

In [43]:
def isEven(n):
    if n%2 == 0:
        return True
    else:
        return False

In [44]:
isEven(8)

True

In [45]:
isEven(3)

False